<div class="container">
        <h2 class ="tittle-font tittle-color center aling">Views</h2>
        <tr>
            <td>
                <p class="center aling text-color text-font" id="text">In 2022 JM ASOCIADOS Real Estate SAS will continue as a leader in the department of Caldas
                     in the real estate services of leasing, sale and appraisal, extending its presence in the coffee axis being
                      thus chosen by our customers for the quality, opportunity of the service and for the level of scope of good 
                      recognition in the market leveraged with the technology, knowledge and professionalism of our team.</p></td>
            <td ><img src="https://img1.wsimg.com/isteam/stock/pzgy72G/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,h:300,cg:true" id= "image"></td>
        </tr>
        
    </div>
    <hr class="border-color container">
