#password-page {
    width: 350px;
 }
 
 .card {
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
 }
 .button-color{
     background: #2CC86E;   
 }
 .alert-color{
     color: #D31717 ;
 }
 img{
    width:40%;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
}
.style-text{
    font-family: 'M PLUS 1p', sans-serif;
    color: #908E8E ; 
}
h6{
    font-family: 'Fjalla One', sans-serif;
}