<div id="password-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <img class="center-align" src="./assets/images/green+lock+privacy+safe+secure+security+icon-1320196713520107078.png" >
        <h6 class="center-align">Having trouble logging in?</h6>
        <p class ="center-align style-text">Enter your email and we will send you a new password</p>
        <form [formGroup]="fgValidation" (ngSubmit)="changePassword()" class="login-form">
            <div class="row">

            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input class="validate" formControlName="email" id="email" type="email">
                    <label for="email" data-error="wrong" data-success="right">Email</label>
                    <div class="warning-validation"
                        *ngIf="fg.email.errors && (fg.email.dirty || fg.email.touched)">
                        <strong *ngIf="fg.email.errors.required"class= "alert-color">
                            Email is required!<br />
                        </strong>
                        <strong *ngIf="fg.email.errors.minlength"class= "alert-color">
                            Email must be at least 5 characters long!<br />
                        </strong>
                        <strong *ngIf="fg.email.errors.maxlength"class= "alert-color">
                            Email must be up to 40 characters long!<br />
                        </strong>
                        <strong *ngIf="fg.email.errors.email"class= "alert-color">
                            Email must be an email!
                        </strong>
                    </div>
                </div>
            </div>

            <!--div class="g-recaptcha" data-sitekey="6LeOiNUUAAAAAEr3pUGAltL5l8Jeyzb2IMg-dU-6"></div-->

            <div class="row">
                <div class="input-field col s12">
                    <button [disabled]="fg.email.errors "
                        class="btn waves-effect waves-light col s12 button-color " type="submit">Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
