<div id="password-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <img class="center-align" src="https://getdrawings.com/free-icon/forgot-password-icon-72.png" >
        <h6 class="center-align">Having trouble logging in?</h6>
        <p class ="center-align style-text">Enter your email and we will send you a new password</p>
        <form [formGroup]="fgValidator" (ngSubmit)="changePassword()" class="login-form">
            <div class="row">

            </div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">autorenew</i>
                    <input id="new1" formControlName="new1" type="password">
                    <label for="new1">New Password</label>
                    <div class="warning-validation"
                        *ngIf="fg.new1.errors && (fg.new1.dirty || fg.new1.touched)">
                        <strong *ngIf="fg.new1.errors.required" class= "alert-color">
                            Password is required!<br />
                        </strong>
                        <strong *ngIf="fg.new1.errors.minlength" class= "alert-color">
                            Password must be at least 5 characters long!<br />
                        </strong>
                        <strong *ngIf="fg.new1.errors.maxlength"class= "alert-color">
                            Password must be up to 15 characters long!
                        </strong>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="new2" formControlName="new2" type="password">
                    <label for="new2">rewrite new password</label>
                    <div class="warning-validation"
                        *ngIf="fg.new2.errors && (fg.new2.dirty || fg.new2.touched)">
                        <strong *ngIf="fg.new2.errors.required" class= "alert-color">
                            Password is required!<br />
                        </strong>
                        <strong *ngIf="fg.new2.errors.minlength" class= "alert-color">
                            Password must be at least 5 characters long!<br />
                        </strong>
                        <strong *ngIf="fg.new2.errors.maxlength"class= "alert-color">
                            Password must be up to 15 characters long!
                        </strong>
                    </div>
                </div>
            </div>

            <!--div class="g-recaptcha" data-sitekey="6LeOiNUUAAAAAEr3pUGAltL5l8Jeyzb2IMg-dU-6"></div-->

            <div class="row">
                <div class="input-field col s12">
                    <button [disabled]=" fg.new1.errors || fg.new2.errors "
                        class="btn waves-effect waves-light col s12 button-color " type="submit">Change
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
