<div class="container">
        <h2 class ="tittle-font tittle-color center aling">Mission</h2>
        <tr>
            <td>
                <p class="center aling text-color text-font" id="text">JM ASOCIADOS Real Estate SAS provides real estate services in leasing, administration, sale and
                     appraisal of real estate providing a service based on quality, which allows the growth of our company, supported 
                     by technology, knowledge and professionalism of our human talent that meets the needs and expectations of our 
                     customers, our employees and shareholders.</p></td>
            <td ><img src="https://img1.wsimg.com/isteam/stock/gYyGDQ0/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,h:300,cg:true" id= "image"></td>
        </tr>
        
    </div>
    <hr class="border-color container">

