<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
        <form [formGroup]="fgValidation" (ngSubmit)="loginEvent()" class="login-form">
            <div class="row">
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mail_outline</i>
                    <input class="validate" formControlName="username" id="username" type="email">
                    <label for="username" data-error="wrong" data-success="right">Username</label>
                    <div class="warning-validation"
                        *ngIf="fg.username.errors && (fg.username.dirty || fg.username.touched)">
                        <strong *ngIf="fg.username.errors.required"class= "alert-color">
                            Username is required!<br />
                        </strong>
                        <strong *ngIf="fg.username.errors.minlength"class= "alert-color">
                            Username must be at least 5 characters long!<br />
                        </strong>
                        <strong *ngIf="fg.username.errors.maxlength"class= "alert-color">
                            Username must be up to 40 characters long!<br />
                        </strong>
                        <strong *ngIf="fg.username.errors.email"class= "alert-color">
                            Username must be an email!
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input id="password" formControlName="password" type="password">
                    <label for="password">Password</label>
                    <div class="warning-validation"
                        *ngIf="fg.password.errors && (fg.password.dirty || fg.password.touched)">
                        <strong *ngIf="fg.password.errors.required" class= "alert-color">
                            Password is required!<br />
                        </strong>
                        <strong *ngIf="fg.password.errors.minlength" class= "alert-color">
                            Password must be at least 5 characters long!<br />
                        </strong>
                        <strong *ngIf="fg.password.errors.maxlength"class= "alert-color">
                            Password must be up to 15 characters long!
                        </strong>
                    </div>
                </div>
            </div>

            <!--div class="g-recaptcha" data-sitekey="6LeOiNUUAAAAAEr3pUGAltL5l8Jeyzb2IMg-dU-6"></div-->

            <div class="row">
                <div class="input-field col s12">
                    <button [disabled]="fg.username.errors || fg.password.errors"
                        class="btn waves-effect waves-light col s12 button-color " type="submit">Login
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4 m4 l4">
                    <li  ><a routerLink="/security/RecoverPassword">Forgot password!</a></li>
                </div>
                <div class="input-field col s8 m8 l8">
                    <li>You don't have an account? <a routerLink='/security/register'>Register</a></li>
                </div>
            </div>
        </form>
    </div>
</div>
