<div class="container">
  <h3 class="tittle-style">REQUESTS</h3>
<div class="row s12">
    <div *ngFor="let p of listRequestUser | paginate: { itemsPerPage: 10, currentPage: p }" class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{p.property.image}}" class="Cardimg" (click)="  openModalImage(p.property.image)">
          <span class="card-title">{{p.value}}</span>
        </div>
        <div class="card-content">
          <!--h5 class="text-style">{{p.property.domain}}-{{p.property.domain}}</h5-->
          <p class="text-style">{{p.property.address}}</p>
          <p class="text-style">{{p.property.contact}}</p>
          <a href="{{p.property.video}}">{{p.property.video}}</a>
          <p *ngIf="p.estado == 0" class="colorSend ">SEND</p>
          <p *ngIf="p.estado == 1" class="colorReview">IN REVIEW</p>
          <p *ngIf="p.estado == 2" class="colorAccepted">ACCEPTED</p>
          <p *ngIf="p.estado == 3" class="coloRejected">REJECTED</p>
        </div>
        <a *ngIf="p.estado == 0" class="waves-effect waves-light btn button" (click)="openModalConfimartion(p.property.id)">DELETE</a>
      </div>
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div id="modalConfirmation" class="modal">
  <div class="modal-content">
    <h4>Confirmation Window </h4>
    <p> Do you confirm remove this elemnt</p>
  </div>
  <div class="modal-footer">
      <a  class="modal-close waves-effect waves-light btn red">Cancel</a>&nbsp;
      <a routerLink="/user/listRecuestUser" class="modal-close waves-effect waves-light btn green" (click)="deleteEvent()">Confirm</a>
  </div>
</div>

<div id="modalImage" class="modal">
  <div class="modal-content">
    <img src= "{{image}}">
  </div>
  <div class="modal-footer">
      <a  class="modal-close waves-effect waves-light btn color">CLOSE</a>&nbsp;
  </div>
</div>