.tittle-style{
    font-family: 'Anton', sans-serif;
    color: #6B6B6B; 
}
.text-style{
    font-family: 'M PLUS 1p', sans-serif;
    color: #6B6B6B; 
}

#card{
    margin-top: 4%;
    margin-left: 1%;
}