
    <h2 class ="style-tittle center aling">know us</h2>
    <div class="row">
        <div class="col s6 m6"><img src="https://img1.wsimg.com/isteam/stock/Qzj5aeQ/:/cr=t:13.2%25,l:0%25,w:100%25,h:74.91%25/rs=w:600,h:300,cg:true" id= "image"></div>
        <div class="col s6 m6" >
            <p class="center aling style-text" id="text">We are an organization dedicated to the provision of professional real estate services (leases,
                 sales, administration, appraisals, consultancies, etc.).</p>
            <p class="center aling style-text" id="text">With extensive experience and experience, we work to provide quality services, based on 
                the transparency of the negotiations, complying with all the legal requirements established by Colombian law. </p>
            <p class="center aling style-text" id="text">JS MARINEROS is duly registered with the Chamber of Commerce 
                and under the control of the Undersecretary of Inspection for Housing Surveillance and Control of the District 
                Department of Habitat, with the Landlord Registration.</p></div>
    </div>


<section class="hero">
    <div class="hero-inner">
        <h2>The best option for your home</h2>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col s6 style-tittle center-align">
            <h4>View</h4>
        </div>
        <div class="col s6 style-tittle center-align">
            <h4>Mission</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s6 m6">
            <img class="imgva" src="https://img1.wsimg.com/isteam/stock/pzgy72G/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,h:300,cg:true">
        </div>
        <div class="col s6 m6">
            <img class="imgva" src="https://img1.wsimg.com/isteam/stock/gYyGDQ0/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:600,h:300,cg:true">
        </div>
    </div>
    <div class="row">
        <div class="col s6 m6">
            <p class="textva center-align">In 2022 JM ASOCIADOS Real Estate SAS will continue as a leader in the department of Caldas
                in the real estate services of leasing, sale and appraisal, extending its presence in the coffee axis being
                thus chosen by our customers for the quality, opportunity of the service and for the level of scope of good 
                recognition in the market leveraged with the technology, knowledge and professionalism of our team.</p>
        </div>
        <div class="col s6 m6">
            <p class="textva center-align">JM ASOCIADOS Real Estate SAS provides real estate services in leasing, administration, sale and
                appraisal of real estate providing a service based on quality, which allows the growth of our company, supported 
                by technology, knowledge and professionalism of our human talent that meets the needs and expectations of our 
                customers, our employees and shareholders.</p>
        </div>
    </div>
</div>
<hr class="border-color container">