<div >
    <h2 class ="tittle-font tittle-color center aling">know us</h2>
    <tr>
        <td><img src="https://img1.wsimg.com/isteam/stock/Qzj5aeQ/:/cr=t:13.2%25,l:0%25,w:100%25,h:74.91%25/rs=w:600,h:300,cg:true" id= "image"></td>
        <td >
            <p class="center aling text-color text-font" id="text">We are an organization dedicated to the provision of professional real estate services (leases,
                 sales, administration, appraisals, consultancies, etc.).</p>
            <p class="center aling text-color text-font" id="text">With extensive experience and experience, we work to provide quality services, based on 
                the transparency of the negotiations, complying with all the legal requirements established by Colombian law. </p>
            <p class="center aling text-color text-font" id="text">JS MARINEROS is duly registered with the Chamber of Commerce 
                and under the control of the Undersecretary of Inspection for Housing Surveillance and Control of the District 
                Department of Habitat, with the Landlord Registration.</p></td>
    </tr>
    
</div>
<hr class="border-color container">