#Create-page {
    width: 600px;
 }
 
 .card {
      position: absolute;
      left: 50%;
      top: 50%;
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
 }
 .button-color{
     background: #2CC86E;   
 }
 .alert-color{
     color: #D31717 ;
 }
 .style-tittle{
    font-family: 'Anton', sans-serif;
    color: #6B6B6B; 
}