<div class="container">
    <h3 class="tittle-style">My properties</h3>
    <div class="row s12">
      <div *ngFor="let p of List" class="col s4 m4">
        <div class="card">
          <div class="card-image">
            <img src="{{p.image}}">
            <span class="card-title">{{p.value}}</span>
          </div>
          <div class="card-content">
            <h5 class="text-style">{{p.departament}}-{{p.city}}</h5>
            <p class="text-style">{{p.address}}</p>
            <p class="text-style">{{p.contact}}</p>
            <a href="{{p.video}}">{{p.video}}</a>
          </div>  
                <a routerLink="/adviser/editProperty/{{p.id}}" class=" waves-effect waves-light btn orange EditOrDelete">EDIT</a>
                <a routerLink="/adviser/showProperties" class="waves-effect waves-light btn red EditOrDelete" (click)="openConfirmationDelete(p.id)">DELETE</a>
        </div>
      </div>
    </div>
  </div>

  <div id="modalConfirmation" class="modal">
    <div class="modal-content">
      <h4>Confirmation Window </h4>
      <p> Do you confirm remove this elemnt</p>
    </div>
    <div class="modal-footer">
        <a  class="modal-close waves-effect waves-light btn red">Cancel</a>&nbsp;
        <a routerLink="/adviser/showProperties" class="modal-close waves-effect waves-light btn green" (click)="deleteEvent()">DELETE</a>
    </div>
  </div>
