<footer class="page-footer " style="background-color:#F5EDED ;">
    <div class="container">
        <p class="center aling text-color"> The properties and videos of our website are informative and are subject to change- 
          All rights reserved. The total or partial reproduction of any of the content that appears here is prohibited, 
          as well as its translation into any language without written authorization.  </p>
      <div class="row ">
        <div class="col l4 offset-l2 s12">
          <h5 class="text-color">Contact</h5>
          <div class="row">
            <b class="text-color col s1">Cel:</b>
            <a class="text-color col s11">+57 322 51787</a>
          </div>
          <div class="row">
                <b class="text-color col s1"></b>
                <a class="text-color col s11">+57 3138522917</a>
            </div>
        <P class="text-color">Cl. 65 #26-10 (Caldas University)</P>  
        <p class="text-color">(Manizales - Caldas - Colombia)</p>
          
        
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container text-color center-align">
       MARINEROS PROPIEDAD RAÍZ Copyright ©2019
      </div>
    </div>
  </footer>
